<!-- header -->
<header class="flex items-center justify-between py-2 border-b">
  <a href="/"
    ><img
      class="logo"
      src="/images/logo.png"
      alt="logo"
      style="
        height: 80px;
        margin-top: 5px;
        margin-bottom: 5px;
        margin-right: 30px;
        margin-left: 5px;
      "
  /></a>
  <!--search box-->
  <form
    class="example centered1"
    action="/action_page.php"
    style="margin-left: 20px"
  >
    <input type="text" placeholder="Search Recipe.." name="search" />
    <button type="submit"><i class="fa fa-search"></i></button>
  </form>
  <!-- nav (OG)-->
  <ul class="inline-flex items-center">
    <li class="px-2 md:px-4" style="margin-right: 10px">
      <a href="signup" class="text-gray-500 font-semibold hover:text-red-500">
        Post Recipe
      </a>
    </li>
    <div class="relative hover-trigger" style="margin-right: 5px">
      <button
        class="block h-12 w-12 rounded-full overflow-hidden focus:outline-none"
      >
        <img
          class="h-full w-full object-cover"
          src="https://eu.ui-avatars.com/api/?name=John&size=1000"
          alt="avatar"
        />
      </button>
      <div class="absolute px-6 py-2 hover-target">
        <div
          class="
            absolute
            right-0
            w-40
            mt-2
            py-1
            bg-white
            border
            rounded
            shadow-xl
          "
        >
          <a
            href="/"
            class="
              transition-colors
              duration-200
              block
              px-4
              py-2
              text-normal text-gray-900
              rounded
              hover:bg-red-500
              hover:text-white
            "
            >Logout</a
          >
        </div>
      </div>
    </div>
    <style>
      .hover-trigger .hover-target {
        display: none;
      }

      .hover-trigger:hover .hover-target {
        display: block;
      }
    </style>
  </ul>
</header>
<!-- header ends here -->
