<%- include('./partials/head') %>

<div class="max-w-screen-xl mx-auto">
  <% include('./partials/navbarLogged') %>
  <body>
    <center>
      <div class="bg-image">
        <img src="/images/404.jpg" />
        <a href="https://www.freepik.com/vectors/business"
          >Business vector created by pikisuperstar - www.freepik.com</a
        >
        <br />
        <a href="/" style="font-size: 30px">Home</a>
      </div>
    </center>
  </body>
  <!-- main ends here -->

  <%- include('./partials/footer') %>
</div>
