<%- include('./partials/head') %>

<div class="max-w-screen-xl mx-auto">
  <% include('./partials/navbar') %>
  <body>
    <div class="bg-image">
      <img src="404.jpg" />
      <a href="https://www.freepik.com/vectors/business"
        >Business vector created by pikisuperstar - www.freepik.com</a
      >
    </div>
  </body>
  <!-- main ends here -->

  <%- include('./partials/footer') %>
</div>
