<%- include('./partials/head') %> 

  <div class="max-w-screen-xl mx-auto">
    <%- include('./partials/navbar') %> 

    <br /><br /><br />
    <center>
      <h2 class="px-2 lg:px-0 uppercase font-bold text-red-500 text-4xl">
        FoodStrap Team
      </h2>
      <br />
    </center>

    <div
      class="
        grid grid-cols-1
        sm:grid-cols-2
        md:grid-cols-3
        xl:grid-cols-3
        gap-3
      "
    >
      <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
        <div class="flex justify-center md:justify-end -mt-16">
          <img
            class="w-20 h-20 object-cover rounded-full border-2 border-red-400"
            src="/images/aiza.jpg"
          />
        </div>
        <div>
          <h2 class="text-gray-800 text-3xl font-semibold">
            Backend Developer
          </h2>
          <p class="mt-2 text-gray-600">
            Aizada has been working in Administrative positions over 5 years
            where she discovered her true passion for data and it’s
            manipulation. She has experience of developing static as well as
            dynamic websites from the scratch. Aizada likes running, biking,
            hiking and coding. <br /><br />
            Favorite Food: Seafood
          </p>
        </div>
        <div class="flex justify-end mt-4">
          <a href="#" class="text-xl font-medium text-red-400"
            >Aizada Azirbayeva</a
          >
        </div>
      </div>
      <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
        <div class="flex justify-center md:justify-end -mt-16">
          <img
            class="w-20 h-20 object-cover rounded-full border-2 border-red-400"
            src="/images/haleigh.png"
          />
        </div>
        <div>
          <h2 class="text-gray-800 text-3xl font-semibold">Business Analyst</h2>
          <p class="mt-2 text-gray-600">
            Haleigh is currently an Audit Intern at EisnerAmper. Her interests
            and skills relate to how to apply system implementations to midsize
            companies and internal audit technology controls for both private
            and public companies.<br /><br />Favorite Food: Chicken Marsala<br /><br />
          </p>
        </div>
        <div class="flex justify-end mt-4">
          <a href="#" class="text-xl font-medium text-red-400">Haleigh Lyons</a>
        </div>
      </div>
      <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
        <div class="flex justify-center md:justify-end -mt-16">
          <img
            class="w-20 h-20 object-cover rounded-full border-2 border-red-400"
            src="/images/wanyi.jpg"
          />
        </div>
        <div>
          <h2 class="text-gray-800 text-3xl font-semibold">
            Front-End Developer
          </h2>
          <p class="mt-2 text-gray-600">
            Wanyi is a Front-End Developer passionate about creativity. She has
            about two years of experience in web development and six years of
            experience in programming. She can code in HTML, CSS, JavaScript,
            Java, C++, and Python.<br /><br />
            Favorite Food: Kimichi Fried Rice<br /><br />
          </p>
        </div>
        <div class="flex justify-end mt-4">
          <a href="#" class="text-xl font-medium text-red-400">Wan Yi Chen</a>
        </div>
      </div>
    </div>
    <br /><br />
    <div
      class="
        grid grid-cols-1
        sm:grid-cols-2
        md:grid-cols-3
        xl:grid-cols-3
        gap-3
      "
    >
      <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
        <div class="flex justify-center md:justify-end -mt-16">
          <img
            class="w-20 h-20 object-cover rounded-full border-2 border-red-400"
            src="/images/drilon.jpg"
          />
        </div>
        <div>
          <h2 class="text-gray-800 text-3xl font-semibold">
            Technology Architect
          </h2>
          <p class="mt-2 text-gray-600">
            Drilon is a Technology Architect. He is currently employed as an
            engineer for a security system company & a professional CCTV
            technician.<br /><br />
            Favorite Food: Chicken Tikka Masala<br /><br />
          </p>
        </div>
        <div class="flex justify-end mt-4">
          <a href="#" class="text-xl font-medium text-red-400">Drilon Demaj</a>
        </div>
      </div>
      <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
        <div class="flex justify-center md:justify-end -mt-16">
          <img
            class="w-20 h-20 object-cover rounded-full border-2 border-red-400"
            src="/images/zi.jpg"
          />
        </div>
        <div>
          <h2 class="text-gray-800 text-3xl font-semibold">
            Full-Stack Developer
          </h2>
          <p class="mt-2 text-gray-600">
            Zilong is a Full-Stack Software Developer. He specializes in React,
            MongoDB, Node, Express and has interests in VR, AR, and AI.<br /><br />
            Favorite Food: Halal Food<br /><br /><br />
          </p>
        </div>
        <div class="flex justify-end mt-4">
          <a href="#" class="text-xl font-medium text-red-400">Zilong Guan</a>
        </div>
      </div>
      <div class="max-w-md py-4 px-8 bg-white shadow-lg rounded-lg my-20">
        <div class="flex justify-center md:justify-end -mt-16">
          <img
            class="w-20 h-20 object-cover rounded-full border-2 border-red-400"
            src="/images/major.jpg"
          />
        </div>
        <div>
          <h2 class="text-gray-800 text-3xl font-semibold">Recipe Taster</h2>
          <p class="mt-2 text-gray-600">
            Major is our team’s recipe taster and currently lives in Long
            Island, NY. His interests and skills relate to chasing sticks of all
            shapes and sizes and chewing any sock he can find.<br /><br />Favorite
            Food: Chicken<br /><br />
          </p>
        </div>
        <div class="flex justify-end mt-4">
          <a href="#" class="text-xl font-medium text-red-400">Major</a>
        </div>
      </div>
    </div>

    <!-- main ends here -->

    <%- include('./partials/footer') %> 
  </div>
</html>
