<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Recipe</title>
  </head>
  <body>
    <h1>New Recipe Form</h1>
    <form action="/newRecipe" method="POST">
      <div>
        <label for="title">Title</label>
        <input type="text" id="title" name="newRecipe[title]" />
      </div>
      <div>
        <label for="description">Description:</label>
        <input type="text" id="description" name="newRecipe[description]" />
      </div>
      <button>Submit</button>
      <a href="/">Cancel</a>
    </form>
  </body>
</html>
